server:
  port: 8085

spring:
  application:
    name: easypam-search
    config:
      import:
        - optional:nacos:easypam-search.yml?server-addr=localhost:8848&namespace=easypam
  data:
    redis:
      host: localhost
      port: 6379
      database: 4
    elasticsearch:
      repositories:
        enabled: true
  elasticsearch:
    uris: http://localhost:9201
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: easypam
      config:
        server-addr: localhost:8848
        namespace: easypam
        file-extension: yml
        import-check:
          enabled: false

rocketmq:
  name-server: localhost:9876
  consumer:
    group: easypam-search-consumer
