server:
  port: 8081

spring:
  application:
    name: easypam-user
    config:
      import:
        # 格式：nacos:${spring.application.name}.${spring.cloud.nacos.config.file-extension}?${参数}
        - nacos:easypam-user.yml?server-addr=localhost:8848&namespace=easypam
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/easypam_user?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: root
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: easypam
      config:
        server-addr: localhost:8848
        namespace: easypam
        file-extension: yml
        import-check:
          enabled: false
  minio:
    endpoint: http://localhost:9000
    access-key: minioadmin
    secret-key: minioadmin
    bucket-name: verification-code
    expire-time: 300
mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

# RocketMQ配置
rocketmq:
  name-server: localhost:9876
  producer:
    group: user-producer-group
